header a{
    color: black;
    font-size: small;
}
.card-img-top {
    height: 80%;
    padding: 20px;
    scale: .8;
    object-fit: contain;
    background-color: rgba(211, 211, 211, 0.24);
    border-radius: 10px;
}
button{
    padding: 15px;
    border:0;
}
button img{
    width: 15px;
}
.card-footer{
    justify-content: space-between;
    align-items: baseline;
    border: 0ch;
    background-color: white;
}
.card{
    border: 0ch;
    box-shadow: 1px 1px 1px 1px  whitesmoke;
}
.para{
    background: rgba(172, 57, 57, 0.055);
}

.article4 img{
    width: 100%;
}

article div{
    padding-left: 30px;
}